.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

/*onPageChanged*/
/*constructor(props: CommonType) {*/
/*super(props)*/
/*this.onPageChanged = (pageNumber: number) => {*/
/*this.props.setCurrentPage(pageNumber)*/
/*axios.get(`https://social-network.samuraijs.com/api/1.0/users?page=${pageNumber}&count=${this.props.pageSize}`)*/
/*.then(response => {*/
/*                    this.props.setUsers(response.data.items)*/
/*                })*/
/*}*/
/*}*/